<ion-header>
  <ion-toolbar>
    <ion-title>All my projects</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-clear-button="always" placeholder="Rechercher"></ion-searchbar>
  <ion-card *ngFor="let project of projects" (click)="openProject(project)">
    <ion-card-header>
      <ion-card-title>{{project.name}}</ion-card-title>
      <ion-card-subtitle>42 min</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let task of project.tasks">
          <ion-label>
            {{task.name}}
            <ion-text color="medium" class="task-minutes ion-justify-content-end">{{calculateMinutes(task.startDate, task.endDate) }}</ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="file-tray-outline" (click)="openProjectForm()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="document" (click)="openTaskForm()"  aria-label="Tâche"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openTaskForm()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button> -->
  <!-- </ion-fab> -->

</ion-content>
