<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="!editTask">Tâche</ion-title>
    <ion-title *ngIf="editTask">{{taskResponse.name}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-text>Ajouter une tâche</ion-text>
  </ion-toolbar> -->
  <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar>
</ion-header>
<ion-content class="ion-padding">
  <ion-title *ngIf="editTask">Modifier une tâche</ion-title>
  <ion-title *ngIf="!editTask">Créer une tâche</ion-title>
  <br><br>
  <form #newTaskForm="ngForm" (ngSubmit)="confirm(newTaskForm)">
    <ion-list>
      <ion-input type="text" name="id" [value]="taskResponse.id" *ngIf="editTask" readonly disabled class="hidden"></ion-input>
      
      <ion-item>
        <ion-label position="floating">Nom de la tâche</ion-label>
        <ion-input type="text" placeholder="Task name" [(ngModel)]="name" name="taskName" required #nameInput="ngModel"></ion-input>
        <ion-note *ngIf="nameInput.invalid && nameInput.touched" slot="error">
          Name is required
        </ion-note>
      </ion-item> 

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" placeholder="Description" [(ngModel)]="description" name="taskDescription"></ion-input>
      </ion-item>  
        <ion-label>Projet</ion-label>
          <ion-select interface="action-sheet" placeholder="Projet" [(ngModel)]="selectedProject" name="selectedProject" required #projectInput="ngModel" [value]="selectedProject">
            <ion-select-option *ngFor="let project of projects" [value]="project._id" :selected="selectedProject">{{project.name}}</ion-select-option>
          </ion-select>
        <ion-note *ngIf="projectInput.invalid && nameInput.touched" slot="error">
          project is required
        </ion-note>

      <ion-item>
        <ion-label>Date de début</ion-label>
        <ion-datetime-button datetime="startDate" >
        </ion-datetime-button>
        
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="startDate" [(ngModel)]="startDate" name="startDateInput"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>Date de fin</ion-label>
        <ion-datetime-button datetime="endDate">
        </ion-datetime-button>
        
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="endDate" [(ngModel)]="endDate" name="endDateInput"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <!-- VERSION 2 AFFICHAGE DATE (BINDING IMPOSSIBLE)-->
      <!-- <ion-item>
        <ion-label>Date de début</ion-label>
        <ion-input type="datetime-local" [(ngModel)]="startDate" name="startDateInput" id="startDate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date de fin</ion-label>
        <ion-input type="datetime-local" [(ngModel)]="endDate" name="endDateInput" id="endDate"></ion-input>
      </ion-item> -->
        
        <!-- <ion-input type="text" placeholder="Projet" [(ngModel)]="project" name="taskProject"></ion-input> -->
        <ion-button expand="block" id="submitTaskForm" type="submit" [disabled]="newTaskForm.invalid" *ngIf="!editTask">Créer la tâche</ion-button>
        <ion-button expand="block" id="submitTaskForm" type="submit" [disabled]="newTaskForm.invalid" *ngIf="editTask">Modifier la tâche</ion-button>
    </ion-list>  
  </form>
  <!-- <ion-item>
    <ion-label position="stacked">Your name</ion-label>
    <ion-input [(ngModel)]="name" placeholder="Your name"></ion-input>
  </ion-item> -->
</ion-content>