<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{project.name}}</ion-title>
    
    <!-- <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons> -->
    <ion-progress-bar type="indeterminate" *ngIf="showProgressBar"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label>{{getHoursMinutesFromMin(calculateTime(project.tasks))}}</ion-label>
    <ion-label slot="end">Projet actif: </ion-label>
    <ion-toggle slot="end" [checked]="project.active" (click)="toggleActivity($event)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-text>Description du projet: {{project.description}}</ion-text>
  </ion-item>
  <br>
  <ion-title>Tâches</ion-title>
  <br>
  <ion-list>
    <ion-item *ngIf="project.tasks.length == 0">Aucune tâche pour le moment</ion-item>
    <ion-item-sliding *ngFor="let task of project.tasks">

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteTask(task.id)">Supprimer</ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label slot="end">{{getHoursMinutesFromMin(calculateMinutes(task))}}</ion-label>
        <ion-label>
          <h3>{{task.name}}</h3>
          <p>{{task.description}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTask(task.id, task)">Modifier</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="deleteProject()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="create-outline" (click)="editProject()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="camera-outline" (click)="openImageForm()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <br><br>
  <ion-title>Images du projet</ion-title>
  <!-- <ion-button >Take picture</ion-button> -->
  <ion-item>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Images du projet</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-slider-picture [projectId]="project._id"></app-slider-picture>
        </div>
        <!-- <div class="ion-padding" slot="content">
          First Content
        </div>
        <div class="ion-padding" slot="content">
          First Content
        </div> -->
      </ion-accordion>
    </ion-accordion-group>
  </ion-item>
  
  <!-- <ion-card *ngFor="let task of project.tasks">
    <ion-card-header>
      <ion-card-title>{{task.name}}</ion-card-title>
      <ion-card-subtitle>{{calculateMinutes(task.startDate, task.endDate) }} min.</ion-card-subtitle>
      <ion-text>Description: {{task.description }}</ion-text>
      <ion-text>Date début: {{task.startDate }}</ion-text>
      <ion-text>Date de fin: {{task.endDate }}</ion-text>
      <ion-text>Utilisateur: {{task.user.username }}</ion-text>
    </ion-card-header> -->
    <!-- <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let task of project.tasks">
          <ion-label>
            {{task.name}}
            <ion-text color="medium" class="task-minutes ion-justify-content-end"></ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>